.qualification__tabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-4);
}

.button--flex{
    display: inline-block;
    align-items: center;
}

.qualification__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification__button:hover{
    color: var(--fourth-color);
}

.qualification__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}