.title__container {
  width: 100%;
  height: 72px;
  display: inline-flex;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 5rem;
}

.title__text {
  font-size: 28px;
  line-height: 32px;
}

.title__text b {
  font-weight: var(--font-bold);
  font-family: var(--special-font);
}

@media screen and (min-width: 1150px) {
  .title__text {
    font-size: 48px;
  }
}
