.section__border {
  border-bottom: 1px solid hsl(207, 4%, 16%);
  padding-bottom: 3.5rem;
}

.skills__container-desktop{
  row-gap: 3.5rem;
}

.skills__info-desktop,
.skills__data-desktop,
.skills__blob-desktop{
  display: grid;
}

.skills__info-desktop{
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 2rem;
}

.skills__data-desktop{
  justify-content: center;
  text-align: center;
}

.skills__blob-desktop{
  width: 80px;
  height: 100px;
  background-color: #e7dede;
  border-radius: 3rem;
  place-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.skills__blob-desktop img{
  width: 40px;
}

.dev__icon-desktop{
  background-color: var(--third-color);
}

.skills__name-desktop{
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.skills__subtitle-desktop{
  font-size: var(--tiny-font-size);
  color: red;
}


.skills__blob-desktop:hover{
  background-color: var(--fourth-color);
}
.skills__blob-desktop:hover img{
  animation: bounce-skills .6s;
}

@keyframes bounce-skills{
  0%{
    transform: translate(0);
  }
  20%{
    transform: translateY(-6px);
  }
  40%{
    transform: translate(0);
  }
  60%{
    transform: translateY(-3px);
  }
  80%{
    transform: translate(0);
  }
}

@media screen and (max-width: 340px){
  .skills__info-desktop{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 576px){
  .skills__container-desktop{
    justify-content: center;
  }
}

@media screen and (min-width: 767px){
  .skills__container-desktop{
    /*grid-template-columns: repeat(2, max-content);
    padding-top: 2rem;*/
    grid-template-columns: repeat(3, 300px);
    column-gap: 5rem;
  }
}

@media screen and (min-width: 1023px){
  .skills__container-desktop{
    column-gap: 10rem;
  }

  .skills__name-desktop{
    font-size: var(--normal-font-size);
  }

  .skills__info-desktop{
    gap: 3rem;
  }
  
}