.footer__links{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}

.footer__link{
    color: var(--white-color);
    transition: color .4s;
}

.footer__link:hover{
    color: var(--text-color-light);
}