.skills__container {
  width: auto;
  height: auto;
  padding: 40px 16px;
  display: grid;
}

.skills__content {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  grid-template-columns: repeat(2, 160px);
  gap: 20px;
}

@media screen and (min-width: 560px) {
  .skills__content {
    grid-template-columns: repeat(3, 160px);
  }
}

@media screen and (min-width: 1024px) {
  .skills__content {
    grid-template-columns: repeat(4, 220px);
  }
}

@media screen and (min-width: 1400px) {
  .skills__content {
    grid-template-columns: repeat(5, 220px);
  }
}
