.section__title-1,
.section__title-2 {
  position: relative;
  font-size: var(--h1-font-size);
  width: max-content;
  margin: 0.75rem auto 2rem;
}

.section__title-1 span,
.section__title-2 span {
  z-index: 5;
  position: relative;
}

.section__title-1::after,
.section__title-2::after {
  content: "";
  width: 40px;
  height: 28px;
  background-color: hsla(14, 98%, 50%, 0.2);
  position: absolute;
  top: -4px;
  right: -8px;
}

.section__title-2::after {
  top: initial;
  bottom: -4px;
}

.services__title {
  font-size: var(--normal-font-siz);
  margin-bottom: 1.25rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--black-color);
  margin-bottom: var(--mb-3);
}

.section-subtitle {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}

.skills__title-mobile {
  font-size: var(--h3-font-size);
}

.skills__subtitle-mobile {
  font-size: var(--small-font-siz);
  color: var(--black-color);
}

.skills__title-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.skills__title-desktop i {
  font-size: 1rem;
  font-weight: initial;
}

@media screen and (min-width: 1150px){
  .section__title-1::after,
  .section__title-2::after {
    width: 70px;
    height: 48px;
  }

  .section__title-1 {
    align-self: flex-end;
    margin-inline: 0;
  }
}