.section__title-1,
.section__title-2 {
  position: relative;
  font-size: var(--h1-font-size);
  width: max-content;
  margin: 0.75rem auto 2rem;
}

.section__title-1 span,
.section__title-2 span {
  z-index: 5;
  position: relative;
}

.section__title-1::after,
.section__title-2::after {
  content: "";
  width: 40px;
  height: 28px;
  background-color: hsla(14, 98%, 50%, 0.2);
  position: absolute;
  top: -4px;
  right: -8px;
}

.section__title-2::after {
  top: initial;
  bottom: -4px;
}

.skills__title-mobile {
  font-size: var(--h3-font-size);
}

.skills__subtitle-mobile {
  font-size: var(--small-font-siz);
  color: var(--black-color);
}

.skills__title-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.skills__title-desktop i {
  font-size: 1rem;
  font-weight: initial;
}

.card__icon{
  display: block;
  font-size: 1.5rem;
  color: var(--fourth-color);
  margin-bottom: var(--mb-2);
}

.card__title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-2);
  font-weight: var(--font-medium);
}

.card__modal-title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-3);
}

.banner__title-center {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

.banner__title-center {
  text-align: center;
}

.banner__title {
  color: #fff;
}

@media screen and (min-width: 992px) {
  .banner__title-center {
    font-size: var(--h1-font-size);
  }
}

@media screen and (min-width: 1023px){
  .skills__title-desktop {
    margin-bottom: 3rem;
  }

  .skills__title-desktop i{
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1150px){
  .section__title-1::after,
  .section__title-2::after {
    width: 70px;
    height: 48px;
  }

  .section__title-1 {
    align-self: flex-end;
    margin-inline: 0;
  }
}
