.testimonial__data,
.testimonial__header{
    display: flex;
}

.testimonial__data{
    justify-content: space-between;
    margin-bottom: var(--mb-2);
}

.testimonial__img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: var(--mb-0-75);
}

.testimonial__name{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.testimonial__client{
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.testimonial__description{
    margin-bottom: var(--mb-5);
}

@media screen and (max-width: 350px){
    .card__container{
        grid-template-columns: max-content;
        justify-content: center;
    }

    .card__content{
        padding-left: 3.5rem;
    }

    .card__modal{
        padding: 0 .5rem;
    }

    .testimonial__data,
    .testimonial__header{
        flex-direction: column;
        align-items: center;
    }

    .testimonial__img{
        margin-right: 0;
        margin-bottom: var(--mb-0-25);
    }

    .testimonial__data,
    .testimonial__description{
        text-align: center;
    }
}

@media screen and (min-width: 568px){
    .skills__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px){
    .card__container{
        grid-template-columns: repeat(3, 218px);
        justify-content: center;
    }

    .card__icon{
        font-size: 2rem;
    }

    .card__content{
        padding: 6rem 0 2rem 2.5rem;
    }

    .card__modal-content{
        width: 450px;
    }
}

@media screen and (min-width: 1024px){
    .card__container{
        grid-template-columns: repeat(3, 238px);
    }
}