.testimonial__container {
  padding-block: 3rem 2rem;
  margin-bottom: -5rem;
}

.testimonial__data,
.testimonial__header {
  display: flex;
}

.testimonial__data {
  justify-content: space-between;
  margin-bottom: var(--mb-2);
}

.testimonial__img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: var(--mb-0-75);
}

.testimonial__name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.testimonial__client {
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.testimonial__description {
  margin-bottom: var(--mb-5);
}

@media screen and (max-width: 350px) {
  .testimonial__data,
  .testimonial__header {
    flex-direction: column;
    align-items: center;
  }

  .testimonial__img {
    margin-right: 0;
    margin-bottom: var(--mb-0-25);
  }

  .testimonial__data,
  .testimonial__description {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .testimonial__container {
    margin-bottom: -3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .testimonial__data {
    justify-content: center;
  }

  .testimonial__description {
    text-align: center;
    font-size: var(--small-font-size);
  }
}

@media screen and (min-width: 1000px) {
  .testimonial__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial__description {
    font-size: var(--smaller-font-size);
    margin-top: -2rem;
  }
}
