/*#experience__button{
    position: absolute;
    right: 1rem;
    bottom: -1.5rem;
    padding: 1rem;
}*/

.experience__card{
    padding: 1rem 1rem 2rem;
    transition: background-color .4s;
    color: var(--black-color-light);
    border-radius: 1rem;
    background-image: linear-gradient(0deg, var(--neutral-color) 75%, var(--fourth-color) 60%);
}

.experience__image{
    position: relative;
    margin-bottom: .75rem;
    height: 4rem;
}

.experience__image img{
    margin-left: 3rem;
    padding-top: 1rem;
}

.experience__content{
    margin-bottom: 1.25rem;
}

.experience__subtitle{
    position: relative;
    display: inline-block;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: var(--black-color);
    margin-bottom: .75rem;
    padding-left: 1.75rem;
}

.experience__subtitle::after{
    content: '';
    width: 20px;
    height: 1px;
    background-color: var(--black-color);
    position: absolute;
    top: 50%;
    left: 0;
}

.experience__title{
    font-size: var(--h3-font-size);
    margin-bottom: .75rem;
}

.experience__buttons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.experience__link{
    display: flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--black-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.experience__link i{
    font-size: 1rem;
    color: var(--black-color);
    transition: color .4s;
}

.experience__link:hover,
.experience__link:hover i{
    color: var(--second-color);
}

/*.experience__card:hover{
    background-color: var(--fourth-color);
    color: var(--second-color);
}*/