.banner__card {
  background-color: var(--neutral-color);
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
}

.banner__card-number {
  display: inline-block;
  background-color: var(--fourth-color);
  color: #fff;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-3);
  transition: 0.3s;
}

.banner__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

.banner__card-description {
  font-size: var(--small-font-size);
}

.banner__card:hover .banner__card-number {
  transform: translateY(-0.25rem);
}

@media screen and (max-width: 320px) {
  .banner__card {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .banner__card-title {
    font-size: var(--normal-font-size);
  }
}
