#home {
  background-color: var(--first-color-lighten);
  padding: 1rem 0 20rem;
  height: 100vh;
  display: grid;
}

.home__container {
  gap: 1rem;
}

.home__scroll {
  display: none;
}

.home__scroll-mouse {
  font-size: 2rem;
}

.home__scroll-name {
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
}

/* Animate ghost */
@keyframes floaty {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(.85, .85);
  }
}

/* For small devices */
@media screen and (max-width: 320px) {
  #home {
    padding-top: 7rem;
    /* background-color: hsl(38, 69%, 59%); */
  }
}

@media screen and (min-width: 768px) {
  .home__scroll {
    display: block;
    padding: 0 6rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  #home {
    padding: 6rem 0 20rem;
  }

  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }

}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px) {
  #home {
    height: initial;
    row-gap: 4rem;
  }
}