.studies__card {
  position: relative;
}

.studies__content {
  height: 100%;
  background-color: var(--neutral-color);
  border: 4px solid var(--black-color);
  padding: 6rem 1rem 3rem;
  z-index: 5;
  position: relative;
  transition: background-color 0.4s, border 0.4s;
}

.studies__border {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid var(--fourth-color);
  top: 0;
  left: 0;
  transition: transform 0.4s;
}

.studies__card:hover .studies__border {
  transform: translate(0.75rem, 0.75rem);
}

.studies__icon {
  position: relative;
  display: inline-block;
}

.studies__icon i {
  font-size: 2rem;
  color: var(--black-color);
  position: relative;
  z-index: 5;
}

.studies__box {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: var(--fourth-color);
  right: -2px;
  top: -2px;
}

.studies__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1.25rem;
}

.studies__description.subtitle {
  color: var(--fourth-color);
  margin-bottom: 1rem;
  font-weight: var(--font-medium);
}

.studies__description.date {
  color: var(--fourth-color);
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
