.skills__container {
  row-gap: 0;
}

.skills__header {
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-5);
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: var(--fourth-color);
}

.skills__icon {
  margin-right: var(--mb-0-75);
}

.skills__list {
  row-gap: 1.5rem;
  padding-left: .75rem;
  padding-right: .75rem;
}

.skills__arrow {
  margin-left: auto;
  transition: 0.4s;
}

.skills__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-1);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
  height: 5px;
  border-radius: 0.25rem;
}

.skills__bar {
  background-color: var(--text-color-light);
}

.skills__percentage {
  display: block;
  background-color: var(--fourth-color);
}

.skills__html,
.skills__css {
  width: 90%;
}

.skills__close .skills__list {
  height: 0;
  overflow: hidden;
}

.skills__open {
  height: max-content;
  margin-bottom: var(--mb-5);
}

.skills__open .skills__arrow {
  transform: rotate(-180deg);
}

.skills__git,
.skills__github,
.skills__figma{
  width: 70%;
}

.skills__gitlab,
.skills__azure{
  width: 60%;
}
.skills__js{
  width: 50%;
}

.skills__material{
  width: 40%;
}

.skills__dev{
  width: 35%;
}

.skills__react,
.skills__android{
  width: 30%;
}

.skills__node{
  width: 25%;
}

.skills__angular,
.skills__firebase{
  width: 20%;
}

.skills__native,
.skills__c,
.skills__postman{
  width: 10%;
}