.home__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 40px 16px;
  gap: 48px;
}

.home__content {
  display: grid;
  gap: 32px;
}

.home__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.home__title b {
  font-family: var(--special-font);
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

.home__text {
  color: var(--gray-color);
  text-align: left;
}

.home__social-media {
  display: inline-flex;
  gap: 24px;
}

.home__img {
  width: 332px;
  height: 332px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .home__container {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 1150px) {
  .home__container {
    padding: 0 80px;
    height: 100vh;
  }

  .home__img {
    width: 600px;
    height: 600px;
  }

  .home__title,
  .home__title b {
    font-size: 48px;
    line-height: 56px;
  }
}

@media screen and (min-width: 1430px) {
  .home__container {
    height: 80vh;
  }
}
