.projects {
  background-color: var(--neutral-color);
  transition: background-color 0.4s;
}

.projects__container {
  row-gap: 2rem;
}

@media screen and (min-width: 576px) {
  .projects__container {
    grid-template-columns: repeat(2, 320px);
    justify-content: center;
  }

}

@media screen and (min-width: 768px) {
  .projects__container {
    grid-template-columns: repeat(2, 450px);
  }
}

@media screen and (min-width: 1150px) {
  .projects__container {
    grid-template-columns: repeat(3, 450px);
    padding-block: 3rem 1rem;
  }

  .projects__card {
    padding: 1.25rem 1.25rem 2.5rem;
  }

  .projects__image {
    margin-bottom: 1rem;
  }

  .projects__content {
    margin-bottom: 2rem;
  }

  .projects__button {
    right: 1.25rem;
  }
}