.experience__nav.inactive {
  position: relative;
  height: var(--header-height);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1.2rem;
}

.experience__nav.active {
  position: relative;
  height: var(--header-height);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1.2rem;
  background-color: var(--fourth-color);
}

@media screen and (max-width: 1150px) {
  .experience__nav-menu {
    position: absolute;
    top: 3.8em;
    left: 0;
    background-color: var(--second-color);
    width: 100%;
    padding-block: 1.8rem 5rem;
    text-align: center;
    z-index: var(--z-tooltip);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .experience__nav-menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(1px);
    transition: 500ms ease;
  }

  .experience__nav-menu.inactive {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: 500ms ease;
  }
}

.experience__nav-logo.inactive {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-weight: var(--font-semi-bold);
  color: var(--fourth-color);
}

.experience__nav-logo.active {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
  font-weight: var(--font-semi-bold);
  color: var(--white-color);
}

.experience__nav-name {
  position: relative;
  width: max-content;
  margin: 0 auto 3rem;
  font-size: var(--h2-font-size);
}

.experience__nav-title {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 3.5rem;
}

.experience__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  padding: 10px;
}

.experience__toggle.inactive {
  width: 32px;
  height: 32px;
  background-color: var(--fourth-color);
  color: var(--white-color);
  display: grid;
  place-items: center;
}

.experience__toggle {
  font-size: 1.25rem;
  cursor: pointer;
}

.experience__toggle.active {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
  background-color: var(--white-color);
  color: var(--fourth-color);
}

.experience__nav-title {
  color: var(--fourth-color);
}

.experience__nav-name,
.experience__description {
  font-size: var(--normal-font-size);
}

.experience__tech {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
}

.experience__tech:hover {
  color: var(--fourth-color);
}
