.logos__container{
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
    justify-items: center;
}

.logos__img img{
    height: 60px;
    opacity: .2;
    transition: .3s;
    cursor: pointer;
}

.logo__traive{
    filter: invert(1);
    width: 10rem;
}

.logo__linda{
    width: 9rem;
}

.logos__img img:hover{
    opacity: .6;
}

@media screen and (max-width: 328px){
  .logos__container{
    gap: 2rem 1rem;
  }  
}

@media screen and (min-width: 767px){
  .logos__container{
    grid-template-columns: repeat(5, max-content);
    justify-content: center;
    column-gap: 3rem;
  }  

  .logo__marinha{
    padding-bottom: 2rem;
    width: 7rem;
  }

  .logo__certsys{
    width: 30px
  }
}

@media screen and (min-width: 1023px){
  .logos__img img{
    height: 100px;
  } 
}

