/*.section__subtitle {
  text-align: center;
}

.section__subtitle {
  display: block;
  font-size: var(--normal-font-size);
  color: var(--black-color);
  margin-bottom: var(--mb-6);
}

.section__border {
  border-bottom: 1px solid hsl(207, 4%, 16%);
  padding-bottom: 3.5rem;
}

.skills__container{
  row-gap: 3.5rem;
}

.skills__info,
.skills__data,
.skills__blob{
  display: grid;
}

.skills__info{
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 2rem;
}

.skills__data{
  justify-content: center;
  text-align: center;
}

.skills__blob{
  width: 80px;
  height: 100px;
  background-color: #e7dede;
  border-radius: 3rem;
  place-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.skills__blob img{
  width: 40px;
}

.dev__icon{
  background-color: var(--third-color);
}

.skills__name{
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}*/

/*.skills__subtitle{
  font-size: var(--tiny-font-size);
  color: red;
}*/

/*
.skills__blob:hover{
  background-color: var(--fourth-color);
}
.skills__blob:hover img{
  animation: bounce-skills .6s;
}

@keyframes bounce-skills{
  0%{
    transform: translate(0);
  }
  20%{
    transform: translateY(-6px);
  }
  40%{
    transform: translate(0);
  }
  60%{
    transform: translateY(-3px);
  }
  80%{
    transform: translate(0);
  }
}
*/