.back__title-container {
  width: 100%;
  height: 72px;
  display: inline-flex;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 5rem;
}

.back__title-text {
  font-size: 28px;
  line-height: 32px;
  color: var(--text-color);
}

.back__title-text b {
  font-weight: var(--font-bold);
  font-family: var(--special-font);
}

@media screen and (min-width: 1150px) {
  .back__title-text {
    font-size: 48px;
  }
}
