.qualification__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: red;
    border-radius: 50%;
}

.qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: red;
    transform: translate(6px, -7px);
}